*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
.box{
    width: 100%;
    height: auto;
    position: relative;
}
/*************************************<!--导航栏-->********************************************/
.navbar{
    width: 100%;
    height: 100px;
    background-color: #828282;
    position: fixed !important;
    z-index: 19;
}
.n-content{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    background-color: #828282;
}
.n-content>img{
    display: block;
    width: 305px;
    height: auto;
}
/***********************************<!--搜索框-->************************************/
.search{
    width: 528px;
    height: 30px;
    margin-left: 340px;
    margin-top: -36px;
    border-radius: 2px;
}
.search>input{
    width: 476px;
    height: 32px;
    border: none;
    outline: none;
    text-indent: 2px;
    border-radius: 2px;
}
.search>button{
    width: 47px;
    height: 33px;
    line-height: 33px;
    cursor: pointer;
    color: #5b5b5b;
    font-size: 12px;
    text-align: center;
    outline: none;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

/*<!--购物车-->*/
.shop{
    width: 141px;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    margin-left: 580px;
    margin-top: -30px;
}
.shop>img{
    display: block;
    float: left;
}
.shop>span:nth-of-type(1){
    display: block;
    float: left;
    color: #FFFFFF;
    font-size: 12px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}
.shop>span:nth-of-type(1):hover{
    color: #95ff65;
}
.shop>span:nth-of-type(2){
    display: block;
    float: left;
    margin-left: 5px;
    color: #95ff65;
    font-size: 12px;
}
.shop>span:nth-of-type(3){
    display: block;
    float: left;
    margin-left: 3px;
    color: #FFFFFF;
    font-size: 12px;
}
/**************************<!--登录注册按钮-->*******************************/
.log-reg{
    width: 148px;
    height: 30px;
    float: right;
    margin-right: -240px;
    margin-top: -30px;
}
.log-reg>p{
    width: 60px;
    height: 30px;
    line-height: 30px;
    color: #FFFFFF;float: left;
    margin-right: 10px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #009688;
    transition: all .5s;
}
.log-reg>p:hover{
    background:rgb(0,150,136);
}
/**************************登录之后显示用户名************************************/
#userlogin{
    width: 180px;
    height: 82px;
    background-color: #009688;
    position: absolute;
    display: none;
    border-radius: 10px;
}
.user-show{
    display: block !important;
}
#userlogin>em{
    font-style: normal;
    color: #FFFFFF;
    font-size: 13px;
    margin-left: 20px;
    margin-top: 10px;
}
#userlogin>span{
    color: #FFFFFF;
    font-size: 13px;
}
#userlogin>p{
    width: 150px;
    height: 32px;
    line-height: 32px;
    margin-left: 20px;
    margin-top: 8px;
}
#userlogin>p>img{
    display: block;
    width: 25px;
    height: 25px;
    float: left;
    cursor: pointer;
}
#userlogin>p>span{
    color: #FFFFFF;
    font-size: 13px;
    display: block;
    float: right;
    margin-right: 68px;
    cursor: pointer;
}
#userlogin>strong{
    font-style: normal;
    color: #FFFFFF;
    font-size: 13px;
    float: right;
    display: block;
    margin-top: -25px;
    margin-right: 30px;
    cursor: pointer;
}

/****************************************<!--导航分类-->********************/
.nav{
    width: 910px;
    height: 50px;
    margin-left: -190px;
    margin-top: 7px;
}
.nav>ul{
    width: 910px;
    height: 50px;
    position: relative;
}
.nav>ul>li{
    width: 120px;
    height: 50px;
    line-height: 50px;
    float: left;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    transition: all .5s;
}
.nav>ul>li:hover{
    background:rgb(0,150,136);
}

.nav>ul>li:nth-of-type(2)>div{
    width: 1000px;
    height: 141px;
    background-color: white;
    position: absolute;
    z-index: 3;
    margin-left: -180px;
    display: none;
    opacity: .9;
}
.nav>ul>li:nth-of-type(2):hover> #n-conone{
    display: block;
}
#n-conone>ul{
    width: 1000px;
    height: 141px;
}
#n-conone>ul>li{
    float: left;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    transition: all .5s;
}
#n-conone>ul>li:hover{
    color:rgb(0,150,136);
}
#n-conone>ul>li>a{
    color: black;
}
#n-conone>ul>li>a:hover{
    color:rgb(0,150,136);
}
#n-conone>ul>li.li-li{
    width: auto;
    height: auto;
}
.nav>ul>li:nth-of-type(3)>div{
    width: 1000px;
    height: 141px;
    background-color: white;
    position: absolute;
    z-index: 3;
    margin-left: -180px;
    display: none;
    opacity: .9;
}
.nav>ul>li:nth-of-type(3):hover> #n-contwo{
    display: block;
}
.nav>ul>li>#n-contwo{
    width: 1000px;
    height: 101px;
    background-color: white;
    position: absolute;
    z-index: 3;
    margin-left: -310px;
    display: none;
    opacity: .9;
}

#n-contwo>ul{
    width: 1000px;
    height: 141px;
}
#n-contwo>ul>li{
    float: left;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    transition: all .5s;
}
#n-contwo>ul>li:hover{
    color:rgb(0,150,136);
}
#n-contwo>ul>li.li-li{
    width: auto;
    height: 10px;
}


.container{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 100px;
}
/****************************<!--商品展示部分-->******************************************/

.play{
    width: 800px;
    height: 432px;
    margin: 10px auto;
    position: relative;
}
/*<!--左边部分-->*/
.p-left{
    width: 380px;
    height: 432px;
    position: relative;
}
#big{
    position: relative;
    width: 350px;
    height: 350px;
    border: 1px solid #999999;
    box-shadow: 1px 1px 1px #999999;
}
#big>li{
    width: 350px;
    height: 350px;
    position: absolute;
    display: none;
}
#big>li:nth-of-type(1){
    display: block;
}
#big>li>img{
    display: block;
    width: 350px;
    height: 350px;

}
#little{
    width: 300px;
    height: 43px;
    position: absolute;
    bottom: 15px;
}
#little>li{
    width: 41px;
    height: 41px;
    border: 1px solid transparent;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    transition: all .5s;
}
#little>li:nth-of-type(1){
    border: 1px solid rgb(0,150,136);
}
#little>li>img{
    width: 41px;
    height: 41px;
   display: block;
}
#little>li:hover{
    border: 1px solid rgb(0,150,136);
}
/**********************************放大镜************************************/
#mag{
    width: 350px;
    height: 350px;
    position: relative;
    top: -350px;
    left: 380px;
    display: none;
    overflow: hidden;
    border: 1px solid #999999;
    box-shadow: 1px 1px 1px #999999;
    z-index: 5;
}
#mag>li{
    width: 350px;
    height: 350px;
    position: absolute;
    display: none;
    overflow: hidden;
}
#mag>li>img{
    width: 700px;
    height: 700px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
#mag>li:nth-of-type(1){
    display: block;
}
.mask{
    width: 150px;
    height: 150px;
    background: rgba(200, 146, 255, 0.5);
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 5;
    display: none;
   cursor: crosshair;
}
/*右边部分*/
.p-right {
    width: 420px;
    height: 347px;
    position: absolute;
    right: 0;
    top: 0;
}
.p-right>h1{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 30px;
    line-height: 140%;
    font-weight: bold;
    font-family: 'Microsoft YaHei';
    padding: 5px 0 15px 30px;
    border-bottom: #eeeeee 1px solid;
}
.price{
    width: 393px;
    height: 115px;
    border-bottom: #eeeeee 1px solid;
    padding: 5px 0 8px 5px;
    color: #8d8d8d;
    margin-bottom: 15px;
}
.price>p:nth-of-type(1){
    width: 280px;
    height:28px ;
    font-size: 16px;
    color: #8d8d8d;
    margin-left: 30px;
}
.price>p:nth-of-type(1)>span{
    font-size: 20px;
    color: rgb(0,150,136);
}
.price>p:nth-of-type(2){
    width: 280px;
    height:28px ;
    font-size: 15px;
    color: #8d8d8d;
    margin-left: 30px;
}
.price>p:nth-of-type(3){
    width: 280px;
    height:15px ;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
    color: #8d8d8d;
    margin-left: 30px;
}
.price>p{
    font-size: 14px;
    margin-left: 80px;
    margin-top: 2px;
}

.weight{
    width: 393px;
    height: 37px;
    font-size: 12px;
    line-height: 15px;
    padding: 5px 0 5px 35px;
    color: #8d8d8d;

}
.weight>ul{
    width: 104px;
    height: 50px;
    margin-left: 40px;
    margin-top: -30px;
}
.weight>ul>li{
    width: 50px;
    height: 50px;
    float: left;
    border: 1px solid #048bcd;
   cursor: pointer;
}
.weight>ul>li.cbg{
    background-color: #048bcd !important;
}
.weight>ul>li>img{
    width: 40px;
    height: 40px;
    display: block;
    margin: 5px;
}
.number{
    width: 398px;
    height: 38px;
    /*padding: 5px;*/
    color: #8d8d8d;
    font-size: 12px;
    margin-top: 15px;
}
.number>p{
    width: auto;
    height: auto;
    float: right;
    margin-right: 190px;
    margin-top: -6px;
}
.number>p>a:nth-of-type(1){
    display: block;
    float: left;
    border: #eeeeee 1px solid;
    color: #7d7d7d;
    background-image: url('../img/jiajian.png');
    background-repeat: no-repeat;
    background-position: 4px 8px;
    width: 19px;
    height: 26px;
    cursor: pointer;
}
.number>p>input{
    width: 47px;
    height: 28px;
    border: #eeeeee 1px solid;
    text-align: center;
    color: #7d7d7d;
    outline: none;
    margin: 0 5px 0 5px;
    float: left;
}
.number>p>a:nth-of-type(2){
    display: block;
    float: left;
    border: #eeeeee 1px solid;
    color: #7d7d7d;
    background-image: url('../img/jiajian.png');
    background-repeat: no-repeat;
    background-position: -67px 8px;
    width: 19px;
    height: 26px;
    cursor: pointer;
}
.number>p>span{
margin-top: 6px;
    display: block;
    float: left;
}
.buy{
    width: 370px;
    height: 50px;
    margin-top: 20px;
}
.buy>a:nth-of-type(1){
    width: 175px;
    height: 50px;
    display: block;
    float: left;
    background-color: #666666;
    line-height: 50px;
    background-image: url('../img/shopping.png');
    background-repeat: no-repeat;
    color: #fff;
    text-indent: 44px;
    font-size: 18px;
    background-position: 16px 16px;
    margin-right: 10px;
}
.buy>a:nth-of-type(2){
    width: 175px;
    height: 50px;
    display: block;
    float: left;
    color: #fff;
    background-color: #666666;
    line-height: 50px;
    text-indent: 44px;
    font-size: 18px;
}
.buy>a{
    transition: all .5s;
}
.buy>a:hover{
    background-color: rgb(0,150,136);
}

/*****************************<!--商品信息，评论部分-->**********************************/

.information{
    width: 100%;
    height: auto;
}
.i-content{
    width: 800px;
    height: 100%;
    border-right: #eeeeee 1px solid;
    border-left: #eeeeee 1px solid;
    border-bottom: #eeeeee 1px solid;
    margin: 0 auto;
    margin-top: 8px;
}
.i-content>#ul-ul{
    width: 798px;
    height: 52px;
    padding-top: 1px;
    border: 1px solid #eeeeee;
    border-right: none;
    border-bottom: none;
}
.i-content>#ul-ul>li{
    width: 101px;
    height: 55px;
    float: left;
    border-right: #eeeeee 1px solid;
    border-top: 3px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    font-size: 15px;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
}
.i-content>#ul-ul>li#show{
    border-top: 3px solid rgb(0,150,136);
    border-bottom: 1px solid transparent;
}
#li-li>.i-picture{
    width: 768px;
    height: auto;
    margin: 15px;

}
#li-li>.i-picture>img{
    display: block;
    width: 768px;
    height: 903px;
    border: 1px solid #eeeeee;
}
#li-li>li.comment{
    width: 768px;
    height: 585px;
    margin: 15px;
    border: 1px solid #eeeeee;
    display: none;
}
#li-li>li.comment>p{
    color: #9d9d9d;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 5px;
}
#li-li>li.comment>p>span{
    color: #5c5c5c;
    font-size: 10px;
    display: block;
    margin: 10px;
}

#li-li>li.question{
    width: 768px;
    height: 544px;
    border: 1px solid #eeeeee;
    margin: 15px;
    display: none;
}
#li-li>li.question>ul{
    width: 768px;
    height: 30px;
    padding-bottom: 10px;
}
#li-li>li.question>ul>li{
    font-size: 10px;
    float: left;
    width: 24px;
    height: 20px;
    padding: 0 15px;
    border-right: 1px solid #eeeeee;
    color: #999999;
    margin: 10px;
    cursor: pointer;
}
#li-li>li.question>ul>li:nth-of-type(1){
    background-color: #0488c9;
}
#li-li>li.question>textarea{
    margin: 0;
    height: 42px;
    width: 666px;
    padding: 5px;
    background-color: #fafafa;
    border: #eeeeee 1px solid;
    color: #b3b3b3;
    font-size: 12px;
    outline: none;
}
#li-li>li.question>span{
    width: 99px;
    height: 54px;
    display: block;
    float: left;
    padding-right: 10px;
    background-color: #048bcd;
    color: #fff;
    text-indent: 43px;
    font-size: 18px;
    background-image: url('../img/c.png');
    background-repeat: no-repeat;
    background-position: 17px 18px;
    margin-left: 10px;
    line-height: 52px;
    cursor: pointer;
}
/*<!--页脚内容    -->*/
.footer{
    width: 100%;
    height: 137px;
    background-color: #828282;
    overflow: hidden;
}
.f-content{
    width: 1200px;
    height: 125px;
    margin:  5px auto;
}
.f-content>ul:nth-of-type(1){
    width: 1200px;
    height: 50px;
}
.f-content>ul:nth-of-type(1)>li{
    color: #323232;
    font-size: 12px;
    float: left;
    width: 100px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}
.f-content>ul>li:hover{
    color: #009688;
}
.f-content>.ul-ul{
    width: 1200px;
    height: 80px;
}
.f-content>.ul-ul>li{
    color: #323232;
    font-size: 12px;
    float: left;
    width: 200px;
    height: 80px;
    line-height: 80px;
    cursor: pointer;
}
/*-***********************固定栏******************************/
.fixed{
    width: 50px;
    height: 270px;
    position: fixed;
    top: 30%;
    right: 10px;
}
.fixed>ul>li{
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background-color: #fff;
    cursor: pointer;
    position: relative;
}
.fixed>ul>li>img{
    width: 30px;
    height: 30px;
    display: block;
    margin: 10px;
}
.fixed>ul>li:hover >img:nth-of-type(2){
    display: block;
}
.fixed>ul>li>img:nth-of-type(2){
    position: absolute;
    top: 0;
    display: none;
}
.fixed>ul>li:nth-of-type(5)>img{
    transform: rotate(-90deg);
}
.fixed>ul>li:nth-of-type(5):hover >img:nth-of-type(2) {
    transform: rotate(0deg);
}
/********************************购物车部分************************************/
.my-all{
    width: 100%;
    height: 800px;
    position: absolute;
    background: rgba(0,0,0,.6);
    top: 0;
    z-index: 99;
    display: none;
}
.my-cart{
    width: 990px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.cancel{
    background: #000;
    width: 38px;
    height: 38px;
    background: url('../img/cancel.png') no-repeat center center;
    opacity: .5;
    position: absolute;
    top: 0;
    right: -38px;
    cursor: pointer;
    transition: All 0.4s ease-in-out;
}
.cancel:hover{
    transform: rotate(360deg);
}
.sctit{
    width: 950px;
    height: 75px;
    margin: 0 20px;
    border-bottom: 2px solid #e1e1e1;
}
.sctit>h2{
    border-color: #009866!important;
    float: left;
    font-size: 22px;
    font-weight: normal;
    color: #009866;
    text-align: center;
    line-height: 25px;
    padding: 25px 22px;
    border-bottom: 2px solid #eb6100;
    position: relative;
    z-index: 5;
}
.sctit>p:nth-of-type(1){
    width: 287px;
    height: 25px;
    float: right;
    line-height: 25px;
    padding: 25px 22px 25px 0;
    font-size: 12px;
    color: #b5b5b5;
}
.sctit>p>span#cart-cbg{
    color: #009866;
}
.sctit>p:nth-of-type(1)>span>em{
    display: inline-block;
    width: 35px;
    height: 4px;
    border-top: 1px solid #e1e1e1;
    margin: 0 4px;
}
.cart-content{
    width: 954px;
    height: auto;
    padding: 0 18px;
    position: relative;
    margin: 0 auto;
    color: #636363;
}
.top-cart{
    width: 954px;
    height: 56px;
    line-height: 56px;
    background-color: #f7f7f7;
}
.in{
    background: #f7f7f7;
    height: 55px;
    line-height: 55px;
    font-size: 13px;
    border-bottom: 1px solid #e1e1e1;
    font-weight: normal;
    color: #535353;
    width: 55px;
    text-align: center;
    float: left;
}
.top-cart>span{
    float: left;
}
.top-cart>p:nth-of-type(1){
    font-size: 14px;
    float: left;
    margin-left: 50px;
}
.top-cart>p:nth-of-type(2){
    font-size: 14px;
    float: left;
    margin-left: 360px;
}.top-cart>p:nth-of-type(3){
     font-size: 14px;
     float: left;
     margin-left: 80px;
 }.top-cart>p:nth-of-type(4){
      font-size: 14px;
      float: left;
      margin-left: 80px;
  }.top-cart>p:nth-of-type(5){
       font-size: 14px;
       float: left;
       margin-left: 80px;
   }
   /*<!--******************添加进购物车的位置************-->*/
 #two-join{
     width: 954px;
     height: 116px;
     margin: 15px 0;
     display: none;
 }
.wp-cart{
    width: 48px;
    height: 116px;
    line-height: 116px;
    text-align: center;
    float: left;
}
.wp-img{
    width: 400px;
    height: 75px;
    padding: 0 15px;
    float: left;
    margin-top: 20px;
}
.wp-img>img{
    width: 98px;
    height: 75px;
    display: block;
}
.wp-img>p:nth-of-type(1){
    color: #636363;
    font-size: 14px;
    float: left;
    margin-left: 114px;
    margin-top: -62px;
}
.wp-img>p:nth-of-type(2){
    color: #b5b5b5;
    font-size: 14px;
    float: left;
    margin-left: 114px;
}
.wp-money{
    width: 101px;
    height: 116px;
    line-height: 116px;
    text-align: center;
    color: #b0b0b0;
    font-size: 16px;
    float: left;
    margin-left: 20px;
}
.wp-add{
    width: 147px;
    height: 116px;
    float: left;
    margin-left: 10px;
}
.wp-add>p{
    width: auto;
    height: auto;
  margin-top: 42px;
    margin-left: 20px;
}
.wp-add>p>a:nth-of-type(1){
    display: block;
    float: left;
    border: #eeeeee 1px solid;
    color: #7d7d7d;
    background-image: url('../img/jiajian.png');
    background-repeat: no-repeat;
    background-position: 4px 8px;
    width: 19px;
    height: 26px;
    cursor: pointer;
}
.wp-add>p>input{
    width: 47px;
    height: 28px;
    border: #eeeeee 1px solid;
    text-align: center;
    color: #7d7d7d;
    outline: none;
    margin: 0 5px 0 5px;
    float: left;
}
.wp-add>p>a:nth-of-type(2){
    display: block;
    float: left;
    border: #eeeeee 1px solid;
    color: #7d7d7d;
    background-image: url('../img/jiajian.png');
    background-repeat: no-repeat;
    background-position: -67px 8px;
    width: 19px;
    height: 26px;
    cursor: pointer;
}
.big-money{
    width: 75px;
    height: 115px;
    line-height: 115px;
    color: #009866;
    float: left;
}
.wp-romove{
    width: 75px;
    height: 115px;
    line-height: 115px;
    color: #6e6e6e;
    float: left;
    font-size: 14px;
    margin-left: 43px;
    text-align: center;
    cursor: pointer;
}
.settlementbox{
    width: 954px;
    height: 50px;
    margin-top: 38px;
    overflow: hidden;
    padding-bottom: 20px;
    float: left;
}
.settlementbox>.operate{
    width: 193px;
    height: 50px;
    margin-left: 20px;
    float: left;
    font-size: 14px;
    line-height: 50px;
    position: relative;
}
.huancun{
    width: 954px;
    height: 116px;
    /*background-color: #ff5194 ;*/
    display: none;
    margin: 15px 0;
}
.wp-cart{
    width: 48px;
    height: 116px;
    line-height: 116px;
    text-align: center;
    float: left;
}
.wp-img{
    width: 400px;
    height: 75px;
    padding: 0 15px;
    float: left;
    margin-top: 20px;
}
.wp-img>img{
    width: 98px;
    height: 75px;
    display: block;
}
.wp-img>p:nth-of-type(1){
    color: #636363;
    font-size: 14px;
    float: left;
    margin-left: 114px;
    margin-top: -62px;
}
.wp-img>p:nth-of-type(2){
    color: #b5b5b5;
    font-size: 14px;
    float: left;
    margin-left: 114px;
    margin-top: -41px;
}
.wp-money{
    width: 101px;
    height: 116px;
    line-height: 116px;
    text-align: center;
    color: #b0b0b0;
    font-size: 16px;
    float: left;
    margin-left: 20px;
}
.wp-add{
    width: 147px;
    height: 116px;
    float: left;
    margin-left: 10px;
}
.wp-add>p{
    width: auto;
    height: auto;
    margin-top: 42px;
    margin-left: 20px;
}
.wp-add>p>a:nth-of-type(1){
    display: block;
    float: left;
    border: #eeeeee 1px solid;
    color: #7d7d7d;
    background-image: url('../img/jiajian.png');
    background-repeat: no-repeat;
    background-position: 4px 8px;
    width: 19px;
    height: 26px;
    cursor: pointer;
}
.wp-add>p>input{
    width: 47px;
    height: 28px;
    border: #eeeeee 1px solid;
    text-align: center;
    color: #7d7d7d;
    outline: none;
    margin: 0 5px 0 5px;
    float: left;
}
.wp-add>p>a:nth-of-type(2){
    display: block;
    float: left;
    border: #eeeeee 1px solid;
    color: #7d7d7d;
    background-image: url('../img/jiajian.png');
    background-repeat: no-repeat;
    background-position: -67px 8px;
    width: 19px;
    height: 26px;
    cursor: pointer;
}
.big-money{
    width: 75px;
    height: 115px;
    line-height: 115px;
    color: #009866;
    float: left;
}
.twp-romove{
    width: 75px;
    height: 115px;
    line-height: 115px;
    color: #6e6e6e;
    float: left;
    font-size: 14px;
    margin-left: 43px;
    text-align: center;
    cursor: pointer;
}














.settlementbox>.operate>span{
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
}
.settlementbox>.operate>p{
    float: right;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: -12px;
}
.total{
    width: 303px;
    height: 50px;
    float: right;
    font-size: 16px;
    line-height: 50px;
    color: #727272;
    overflow: hidden;
    margin-top: -70px;
}
.total>a{
    color: #999999;
    font-size: 13px;
}
.total>span:nth-of-type(1){
    color: #7a7a7a;
    font-size: 16px;
    margin-left: 10px;
}
.total>span:nth-of-type(2){
    color: #009866;
}
.total>a:nth-of-type(2){
    margin-left: 15px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 120px;
    background:#009866;
    font-size: 17px;
    border: none;
    color: #FFF;
    cursor: pointer;
}
/*************************************确认收货部分******************************/
.receipt{
    width: 990px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: none;
    overflow: hidden;
    background-color: #fff;
}
.re-cancel{
    background: #000 !important;
    width: 38px;
    height: 38px;
    background: url('../img/cancel.png') no-repeat center center;
    opacity: .5;
    position: absolute;
    top: 0;
    right: -38px;
    cursor: pointer;
    transition: All 0.4s ease-in-out;
}
.re-cancel:hover{
    transform: rotate(360deg);
}
.re-sctit{
    width: 950px;
    height: 75px;
    margin: 0 20px;
    border-bottom: 2px solid #e1e1e1;
}
.re-sctit>h2{
    border-color: #009866!important;
    float: left;
    font-size: 22px;
    font-weight: normal;
    color: #009866;
    text-align: center;
    line-height: 25px;
    padding: 25px 22px;
    border-bottom: 2px solid #eb6100;
    position: relative;
    z-index: 5;
    margin-top: 0;
}
.re-sctit>p:nth-of-type(1){
    width: 287px;
    height: 25px;
    float: right;
    line-height: 25px;
    padding: 25px 22px 25px 0;
    font-size: 12px;
    color: #b5b5b5;
}
.re-sctit>p>span#cart-bbg{
    color: #009866;
}
.re-sctit>p:nth-of-type(1)>span>em{
    display: inline-block;
    width: 35px;
    height: 4px;
    border-top: 1px solid #e1e1e1;
    margin: 0 4px;
}
.receipt-con{
    width: 954px;
    height: 500px;
    padding: 0 18px;
    margin-top: 20px;
}
.delivery{
    width: 954px;
    height: 196px;
    padding: 12px 0;
    border-bottom: 1px solid #d2d2d2;
}
.de-title{
    width: 560px;
    height: 40px;
    padding-top: 5px;
}
.de-title>h2{
    color: #535353;
    font-size: 19px;
    line-height: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 76px;
    height: 30px;
    font-weight: normal;
    margin-left: 25px;
    float: left;
}
.new-address{
    float: right;
    color: #009866;
    font-size: 14px;
    line-height: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.re-next{
    width: 558px;
    height: 62px;
    border: 1px solid #009866;
    margin-top: 20px;
}
.re-next>p:nth-of-type(1){
    width: 100px;
    height: 62px;
    background-color: #009866;
    color: #fff;
    line-height: 62px;
    text-align: center;
    font-size: 18px;
    margin-top: 0;
    cursor: pointer;
}
.re-next>p:nth-of-type(2){
    float: right;
    margin-top: -56px;
    margin-right: 130px;
    font-size: 12px;
}
.re-next>p:nth-of-type(2)>span{
    color: #009866;
    cursor: pointer;
}
.delivery>p{
    font-size: 12px;
    color: #999999;

}
.payfor{
    width: 600px;
    height: 300px;
}
.payfor>p{
    width: 460px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #dedede;
    color: #999999;
    font-size: 19px;
}
.payfor>span{
    display: block;
    width: 140px;
    height: 34px;
    padding: 5px;
    line-height: 34px;
    text-align: center;
    border:1px solid #009866;
    cursor: pointer;
}
.QRcode{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 200px;
    margin-top: -50px;
}
.QRcode>img{
    display: block;
    width: 100px;
    height: 100px;
}
.pay-back{
    width: 150px;
    height: 50px;
    background-color: #dedede;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    color: #5f5f5f;
    font-size: 15px;
    position: absolute;
    right: 250px;
    bottom: 60px;
}
.sub-pay{
    width: 120px;
    height: 50px;
    background-color: #009866;
    float: left;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    color: whitesmoke;
    font-size: 15px;
    position: absolute;
    right:100px;
    bottom: 60px;

}
















/********************************************登录注册部分*****************
**********************************/
.signin{
    width: 100%;
    height: 800px;
    position: absolute;
    background: rgba(0,0,0,.6);
    top: 0;
    z-index: 99;
    display: none;
}
.sing-content{
    width: 300px;
    height: 378px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;

}
.s-cancel{
    background: #000;
    width: 38px;
    height: 38px;
    background: url('../img/cancel.png') no-repeat center center;
    opacity: .5;
    position: absolute;
    top: 0;
    right: -38px;
    cursor: pointer;
    transition: All 0.4s ease-in-out;
}
.s-cancel:hover{
    transform: rotate(360deg);
}
.sing-content>h2{
    font-family: microsoft yahei;
    font-size: 21px;
    color: #009688;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
    line-height: 30px;
    width: 300px;
    height: 30px;
    margin-top: 30px;
}
.sing-content>ul{
    width: 300px;
    height: 224px;
    margin-top: 20px;
    text-align: center;
}
.sing-content>ul>li{
    width: auto;
    height: auto;
    margin-bottom: 10px;
}
.sing-content>ul>li>p{
    margin-top: -2px;
    color:#009688;
    font-size: 10px;
    display: none;
}
#phone{
    border: none;
    width: 188px;
    height: 35px;
    line-height: 35px;
    padding-left: 12px;
    border-radius: 3px;
    outline: none;
    font-size: 14px!important;
    color: #434343!important;
    background: #d9d9d9!important;
    font-weight: normal!important;
    text-decoration: none!important;
}
#password{
    border: none;
    width: 188px;
    height: 35px;
    line-height: 35px;
    padding-left: 12px;
    border-radius: 3px;
    outline: none;
    font-size: 14px!important;
    color: #434343!important;
    background: #d9d9d9!important;
    font-weight: normal!important;
    text-decoration: none!important;
}
.sing-content>ul>li:nth-of-type(3){
    width: 200px;
    height: 35px;
    font-size: 14px!important;
    color: #434343!important;
    background: #d9d9d9!important;
    border-radius: 3px;
    margin-left: 50px;
    overflow: hidden;
    position: relative;
}
.yzm{
    width: 65px;
    height: 18px;
    margin-top: 8px;
    margin-left: 5px;
}
#rand{
    height: 35px;
    width: 115px;
    font-size: 14px!important;
    color: #434343!important;
    background: #d9d9d9!important;
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: none;
}
.sing-content>ul>li:nth-of-type(4){
    width: 200px;
    height: 24px;
    margin: 0 50px;
    margin-bottom: 15px;
    position: relative;
    font-size: 14px;
}
.sing-content>ul>li:nth-of-type(4)>span{
    background-color: #d9d9d9;
    vertical-align: top;
    margin-bottom: 2px;
    width: 22px;
    height: 22px;
    margin-right: 6px;
    float: left;
    border: 1px solid #b0b0b0;
}
.sing-content>ul>li:nth-of-type(4)>span>input{
    width: 22px;
    height: 22px;
    outline: none;
    border: none;
}
.sing-content>ul>li:nth-of-type(4)>em{
    font-size: 12px;
    color: #b0b0b0;
    float: left;
    font-style: normal;
    margin-top: 2px;
    margin-left: 25px;
}
.sing-content>ul>#sign-lo{
    width: 200px;
    height: 35px;
    background-color: #009688;
    margin-left: 50px;
    margin-top: 15px;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    cursor: pointer;
}
.sing-content>ul>#sign-reg{
    width: 200px;
    height: 35px;
    background-color: #009688;
    margin-left: 50px;
    margin-top: 15px;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    cursor: pointer;
}
/****************************注册***********************************/
.post{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 480px;
    padding: 30px 0;
    background-color: #fff;
    border-radius: 10px;
    display: none;
}
.post>h2{
    font-family: microsoft yahei;
    font-size: 21px;
    color: #009688;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
    line-height: 30px;
    width: 300px;
    height: 30px;
}
.post>#myform>ul{
    width: 300px;
    height: 416px;
    margin-top: 30px;
}
.post>#myform>ul>li{
    width: 200px;
    height: 35px;
    line-height: 35px;
    margin: 0 50px;
    margin-bottom: 15px;
    position: relative;
    font-size: 14px;
    background: #d9d9d9;
    border-radius: 5px;
}
.post>#myform>ul>li>p{
    display: none;
    color: #009688;
    font-size: 10px;
}
.post>#myform>ul>li:nth-of-type(1)>p{
    margin-top: -10px;
}.post>#myform>ul>li:nth-of-type(2)>p{
     margin-top: -10px;
 }.post>#myform>ul>li:nth-of-type(3)>p{
      margin-top: -10px;
  }
.post>#myform>ul>li>span{
    margin-left: 10px;
    color: #009688;
}
.post>#myform>ul>li>input{
    width: 178px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #434343!important;
    background: #d9d9d9!important;
    position: absolute;
    right: 0;
    top: 0;
    text-indent: 4px;
}
.post>#myform>ul>li:nth-of-type(4){
    background-color: #fff;
}
.post>#myform>ul>li>div.sex{
    width: 185px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    top: 5px;
    left: 20px;
    color: #b0b0b0;
    font-size: 12px;
}
.post>#myform>ul>li>div.sex>input{
    width: 12px;
    height: 12px;
    margin-left: 30px;
}
.post>#myform>ul>li:nth-of-type(5)>input{
    width: 178px;
    height: 35px;
    padding-left: 22px;
    outline: none;
    border: none;
}
.date{
    width: 40px;
    height: 35px;
    background-color: #009688;
    position: absolute;
    right: 0;
    border-radius: 5px;
    cursor: pointer;
}

.post>#myform>ul>li:last-child>input{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    background-color: #009688 !important;
    cursor: pointer;
    border-radius: 5px;
    font-style: normal;
}
.p-cancel{
    background: #000;
    width: 38px;
    height: 38px;
    background: url('../img/cancel.png') no-repeat center center;
    opacity: .5;
    position: absolute;
    top: 0;
    right: -38px;
    cursor: pointer;
    transition: All 0.4s ease-in-out;
}
.p-cancel:hover{
    transform: rotate(360deg);
}
/**********************************个人中心**************************************/
.home-box{
    width: 100%;
    height: 700px;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,.6);
    z-index: 99;
    display: none;
}
.home{
    width: 990px;
    height: 607px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
}
.h-cancel{
    background: #000;
    width: 38px;
    height: 38px;
    background: url('../img/cancel.png') no-repeat center center;
    opacity: .5;
    position: absolute;
    top: 0;
    right: -38px;
    cursor: pointer;
    transition: All 0.4s ease-in-out;
}
.h-cancel:hover{
    transform: rotate(360deg);
}
.home-nav{
    width: 950px;
    height: 70px;
    padding: 0 20px;
    background: #009688;
    border-radius: 10px;
}
.home-nav>h2{
    height: 70px;
    line-height: 70px;
    font-weight: normal;
    margin-left: 10px;
}
.home-nav>ul{
    width: auto;
    height: auto;
    float: right;
    margin-top: -45px;
}
.home-nav>ul>li{
    color: #FFFFFF;
    float: left;
    margin-left: 30px;
    cursor: pointer;
}
/*//左边内容*/
/************个人首页*********/
.left-nav{
    width: 150px;
    height: 537px;
    background: #eeeeee;
    border-radius: 10px;
    overflow: hidden;
}
.nav-con{
    width: 150px;
    height: 358px;
    margin-top: 90px;
}
.nav-con>ul{
    width: 150px;
    height: 358px;
}
.nav-con>ul>li{
    width: 145px;
    height: 50px;
    border-bottom: 1px solid #e1e1e1 !important;
    line-height: 50px;
    text-align: center;
    color: #9c9c9c;
    font-size: 15px;
    cursor: pointer;
}
.nav-con>ul>li#li-bg{
    border-right: 5px solid #009866;
    color: #009866;
}
/*********************右边内容***********************/
.right-con{
    width: 784px;
    height: 537px;
    position: absolute;
    right: 30px;
    top: 70px;
}
.right-con>ul{
    width: 100%;
    height: 100%;
    position: absolute;
}
.right-con>ul>li{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}
.right-con>ul>li:nth-of-type(1){
    width: 784px;
    height: 487px;
    display: block !important;
}
.clearfix{
    border: 1px solid #e1e1e1;
    height: 141px;
    overflow: hidden;
    margin: 35px 0;
    width: 782px;
}
.details{
    width: 411px;
    height: 85px;
    padding: 28px 22px;
    float: left;
    position: relative;
}
.details>img{
    width: 85px;
    height: 85px;
    display: block;
}
.details>h3{
    color: #959595;
    font-size: 16px;
    margin-bottom: 13px;
    font-weight: normal;
    width: 290px;
    height: 21px;
    position: absolute;
    right: 46px;
    top: 23px;
}
.details>h3>span{
    font-size: 12px;
    padding: 2px 6px;
    border: 1px solid #e1e1e1;
    margin-left: 12px;
    border-radius: 5px;
}
.d-center{
    width: 290px;
    height: 50px;
    position: absolute;
    bottom: 28px;
    right: 46px;
}
.d-center>p{
    width: 85px;
    height: 40px;
    font-size: 12px;
    color: #959595;
    display: block;
    float: left;
    padding: 5px 12px 5px 12px;
    border-left: 1px solid #e1e1e1;
    cursor: pointer;
}
.d-center>p>span{
    display: block;
    font-size: 18px;
    color: #009866;
}
.d-center>p:nth-of-type(2){
    width: 65px;
    height: 40px;
}
.d-center>p:nth-of-type(3){
    width: 65px;
    height: 40px;
}
.dd-right{
    width: 21px;
    height: 39px;
    background: url("../img/rrrrr.png") no-repeat center center/100% auto;
    position: absolute;
    right: 0;
    top: 35%;
    cursor: pointer;

}
.operatee{
    width: 162px;
    height: 102px;
    float: left;
    text-align: center;
    border-left: 1px solid #e1e1e1;
    padding: 20px 0;
    margin-left: 0;
}
.operatee>img{
    background-color: #009866;
}
.operatee>p{
    font-size: 14px;
    margin: 7px 0;
    width: 162px;
    height: 19px;
    color: #959595;
}
.operatee>a{
    display: block;
    width: 64px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    text-align: center;
    background-color: #009866;
    border-radius: 5px;
    margin-top: 14px;
    margin-left: 48px;
}
.operate-pic{
    text-align: center;
    border-left: 1px solid #e1e1e1;
    padding: 20px 0;
    width: 162px;
    height: 47px;
    float: left;
}
.operate-pic>img{
    background-color: #009866;
}
.order{
    width: 784px;
    height: 24px;
    color: #959595;
    padding-top: 10px;
}
.order>h3{
    color: #959595;
    font-size: 14px;
    font-weight: normal;
    float: left;
}
.order>h3>span{
    color: #009866;
}
.order>span{
    float: right;
    font-size: 14px;
    cursor: pointer;
}
/***************我的订单***************/
.right-con>ul>li:nth-of-type(2){
    background-color: #ffffff;
}
.myorder{
    width: 784px;
    height: 48px;
    margin-top: 20px;
    border-bottom: #e1e1e1 1px solid;

}
.myorder>h2{
    font-size: 20px;
    color: #717171;
    float: left;
    line-height: 43px;
    width: 80px;
    height: 43px;
    font-weight: normal;
}
.myorder>ul{
    width: 524px;
    height: 47px;
    float: right;
    margin-top: 10px;
}
.myorder>ul>li{
    float: left;
    margin-right: 10px;
    width: 93px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #717171;
    font-size: 13px;
    border-right: 1px solid #999999;
}
.myorder>ul>li>span{
    color: #009866;
}
.myorder>ul>li:last-of-type{
    border-right: none;
}

/******************我的收藏*******************/
.right-con>ul>li:nth-of-type(3){
    background-color: #ffffff;
}
.collect{
    width: 784px;
    height: 48px;
    margin-top: 20px;
    border-bottom: #e1e1e1 1px solid;
}
.collect>h2{
    font-size: 20px;
    color: #717171;
    float: left;
    line-height: 43px;
    width: 80px;
    height: 43px;
    font-weight: normal;
}
/********************优惠活动*****************/
.right-con>ul>li:nth-of-type(4){
    background-color: #ffffff;
}
.discount{
    width: 784px;
    height: 48px;
    margin-top: 20px;
    border-bottom: #e1e1e1 1px solid;
}
.discount>h2{
    font-size: 20px;
    color: #717171;
    float: left;
    line-height: 43px;
    width: 80px;
    height: 43px;
    font-weight: normal;
}
/*********************优惠码****************/
.right-con>ul>li:nth-of-type(5){
    background-color: #ffffff;
}
.discode{
    width: 784px;
    height: 48px;
    margin-top: 20px;
    border-bottom: #e1e1e1 1px solid;
}
.discode>h2{
    font-size: 20px;
    color: #717171;
    float: left;
    line-height: 43px;
    width: 80px;
    height: 43px;
    font-weight: normal;
}

/*********************买家问答****************/
.right-con>ul>li:nth-of-type(6){
    background-color: #ffffff;
}
.qa{
    width: 784px;
    height: 48px;
    margin-top: 20px;
    border-bottom: #e1e1e1 1px solid;
}
.qa>h2{
    font-size: 20px;
    color: #717171;
    float: left;
    line-height: 43px;
    width: 80px;
    height: 43px;
    font-weight: normal;
}

/***********************收货地址**************/

.right-con>ul>li:nth-of-type(7){
    background-color: #ffffff;
}
.address{
    width: 784px;
    height: 48px;
    margin-top: 20px;
    border-bottom: #e1e1e1 1px solid;
}
.address>h2{
    font-size: 20px;
    color: #717171;
    float: left;
    line-height: 43px;
    width: 80px;
    height: 43px;
    font-weight: normal;
}
.address>span{
    display: block;
    width: 105px;
    height: 40px;
    background-color: #009866;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    color: #FFFFFF;
    float: right;
    cursor: pointer;
}

