*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
.box{
    width: 100%;
    height: auto;
    position: relative;
}
.picture{
    width: 100%;
    height: 657px;
    background: url("../img/images/bg1.jpg") no-repeat center / 100% auto;
    background-attachment: fixed;
    position: relative;
}
.navbar{
    width: 100%;
    height: 100px;
    background-color: #828282;
}
.n-content{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    background-color: #828282;
}
.n-content>img{
    display: block;
    width: 305px;
    height: auto;
}
/***********************************<!--搜索框-->************************************/
.search{
    width: 528px;
    height: 30px;
    margin-left: 340px;
    margin-top: -36px;
    border-radius: 2px;
}
.search>input{
    width: 476px;
    height: 32px;
    border: none;
    outline: none;
    text-indent: 2px;
    border-radius: 2px;
}
.search>button{
    width: 47px;
    height: 33px;
    line-height: 33px;
    cursor: pointer;
    color: #5b5b5b;
    font-size: 12px;
    text-align: center;
    outline: none;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

/*<!--购物车-->*/
.shop{
    width: 141px;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    margin-left: 580px;
    margin-top: -30px;
}
.shop>img{
    display: block;
    float: left;
}
.shop>span:nth-of-type(1){
    display: block;
    float: left;
    color: #FFFFFF;
    font-size: 12px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}
.shop>span:nth-of-type(1):hover{
    color: #95ff65;
}
.shop>span:nth-of-type(2){
    display: block;
    float: left;
    margin-left: 5px;
    color: #95ff65;
    font-size: 12px;
}
.shop>span:nth-of-type(3){
    display: block;
    float: left;
    margin-left: 3px;
    color: #FFFFFF;
    font-size: 12px;
}
/**************************<!--登录注册按钮-->*******************************/
.log-reg{
    width: 148px;
    height: 30px;
    float: right;
    margin-right: -240px;
    margin-top: -30px;
}
.log-reg>p{
    width: 60px;
    height: 30px;
    line-height: 30px;
    color: #FFFFFF;float: left;
    margin-right: 10px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #009688;
    transition: all .5s;
}
.log-reg>p:hover{
    background:rgb(0,150,136);
}
/****************************************<!--导航分类-->********************/
.nav{
    width: 910px;
    height: 50px;
    margin-left: -190px;
    margin-top: 7px;
}
.nav>ul{
    width: 910px;
    height: 50px;
    position: relative;
}
.nav>ul>li{
    width: 120px;
    height: 50px;
    line-height: 50px;
    float: left;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    transition: all .5s;
}
.nav>ul>li:hover{
    background:rgb(0,150,136);
}

.nav>ul>li:nth-of-type(2)>div{
    width: 1000px;
    height: 141px;
    background-color: white;
    position: absolute;
    z-index: 3;
    margin-left: -180px;
    display: none;
    opacity: .9;
}
.nav>ul>li:nth-of-type(2):hover> #n-conone{
    display: block;
}
#n-conone>ul{
    width: 1000px;
    height: 141px;
}
#n-conone>ul>li{
    float: left;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    transition: all .5s;
}
#n-conone>ul>li:hover{
    color:rgb(0,150,136);
}
#n-conone>ul>li>a{
    color: black;
}
#n-conone>ul>li>a:hover{
    color:rgb(0,150,136);
}
#n-conone>ul>li.li-li{
    width: auto;
    height: auto;
}
.nav>ul>li:nth-of-type(3)>div{
    width: 1000px;
    height: 141px;
    background-color: white;
    position: absolute;
    z-index: 3;
    margin-left: -180px;
    display: none;
    opacity: .9;
}
.nav>ul>li:nth-of-type(3):hover> #n-contwo{
    display: block;
}
.nav>ul>li>#n-contwo{
    width: 1000px;
    height: 101px;
    background-color: white;
    position: absolute;
    z-index: 3;
    margin-left: -310px;
    display: none;
    opacity: .9;
}

#n-contwo>ul{
    width: 1000px;
    height: 141px;
}
#n-contwo>ul>li{
    float: left;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    transition: all .5s;
}
#n-contwo>ul>li:hover{
    color:rgb(0,150,136);
}
#n-contwo>ul>li.li-li{
    width: auto;
    height: 10px;
}
/* jswbox */
#jswbox{width:1100px;height:600px;margin:0 auto;position:relative;}
#jswbox ul{position:relative;height:600px;}
#jswbox li{position:absolute;width:0;height:0;z-index:0;cursor:pointer;overflow:hidden;top:152px;left:10px;}
#jswbox li img{width:100%;height:100%;vertical-align:top;float:left;}
#jswbox .prev, #jswbox .next{display:none;}

/******************主体内容************************/
.container{
    width: 100%;
    height: auto;
}
.c-top{
    width: 100%;
    height: 220px;
}
.t-pic{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.t-pic>ul{
 position: relative;
}
.t-pic>ul>li{
    border-radius: 10px;
    position: absolute;
    width: 490px;
    height: 190px;
    left: 100px;
    top: 20px;
    background: url("../img/yu.jpg") no-repeat center/auto 100%;
    cursor: pointer;
}
.t-pic>ul>li:nth-of-type(2){
    left: 609px;
    background: url("../img/lian.jpg") no-repeat center/auto 100%;
}


.t-pic>ul>li>img{
display: block;
    width: 490px;
    height: 190px;
}
.c-con{
    width: 100%;
    height: 1354px;
}
.c-com{
    width: 1000px;
    height: 1354px;
    margin: 0 auto;
}

/*<!--力量区域内容    -->*/
.p-content{
    width: 100%;
    height: 695px;
}
.p-nav{
    width: 1000px;
    height: 33px;
    margin:  0 auto;
    margin-bottom: 10px;
}
.p-nav>ul{
    width: 1000px;
    height: 33px;
    border: 1px solid #999999;
}
.p-nav>ul>li{
    float: left;
    width: 158px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    color: #434343;
    font-size: 12px;
    border-right: 1px solid #999999;
    cursor: pointer;
}
.p-li{
    width: 1000px;
    height: 641px;
    margin: 0 auto;
    position: relative;
}
.p-li>li>a{

}
.p-li>ul>li{
    width: 244px;
    height: 296px;
    border: 1px solid #b0b0b0;
    float: left;
    margin-right: 4px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .6s ;
    overflow: hidden;
}
.p-li>ul>li:hover{
    box-shadow: 8px 16px 16px #999999;
    transform: translateZ(-6px);
}
.p-li>ul>li>img{
    display: block;
    width: 212px;
    height: 212px;
    margin: 15px;
    transition: all .6s ;
}
.p-li>ul>li>img:hover{
    transform: scale(1.15);
}.p-li>ul>li:nth-of-type(1)>a>img{
    display: block;
    width: 212px;
    height: 212px;
    margin: 15px;
    transition: all .6s ;
}
.p-li>ul>li:nth-of-type(1)>a>img:hover{
    transform: scale(1.15);
}
.p-li>ul>li>p{
    width: 244px;
    height: 16px;
    text-align: center;
    font-size: 12px;
}
.p-li>ul>li>span>em{
    font-style: normal;
    font-size: 16px;
    color: #ff9234;
}
.p-li>ul>li>span:nth-of-type(1){
    width: 244px;
    height: 16px;
    text-align: center;
    font-size: 13px;
    color: #b0b0b0;
    display: block;
}
.p-li>ul>li>span:nth-of-type(2){
    width: 244px;
    height: 16px;
    text-align: center;
    font-size: 13px;
    color: #818181;
    display: block;
}

/*<!--页脚内容    -->*/
.footer{
    width: 100%;
    height: 137px;
    background-color: #828282;
    overflow: hidden;
}
.f-content{
    width: 1200px;
    height: 125px;
    margin:  5px auto;
}
.f-content>ul:nth-of-type(1){
    width: 1200px;
    height: 50px;
}
.f-content>ul:nth-of-type(1)>li{
    color: #323232;
    font-size: 12px;
    float: left;
    width: 100px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}
.f-content>ul>li:hover{
    color: #009688;
}
.f-content>.ul-ul{
    width: 1200px;
    height: 80px;
}
.f-content>.ul-ul>li{
    color: #323232;
    font-size: 12px;
    float: left;
    width: 200px;
    height: 80px;
    line-height: 80px;
    cursor: pointer;
}
/*-***********************固定栏******************************/
.fixed{
    width: 50px;
    height: 270px;
    position: fixed;
    top: 30%;
    right: 10px;
    display: none;
}
.fixed>ul>li{
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background-color: #fff;
    cursor: pointer;
    position: relative;
}
.fixed>ul>li>img{
    width: 30px;
    height: 30px;
    display: block;
    margin: 10px;
}
.fixed>ul>li:hover >img:nth-of-type(2){
    display: block;
}
.fixed>ul>li>img:nth-of-type(2){
    position: absolute;
    top: 0;
    display: none;
}
.fixed>ul>li:nth-of-type(5)>img{
    transform: rotate(-90deg);
}
.fixed>ul>li:nth-of-type(5):hover >img:nth-of-type(2){
    transform: rotate(0deg);
}
/********************************购物车部分************************************/
.my-all{
    width: 100%;
    height: 800px;
    position: absolute;
    background: rgba(0,0,0,.6);
    top: 0;
    z-index: 99;
    display: none;
}
.my-cart{
    width: 990px;
    height: 354px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.cancel{
    background: #000;
    width: 38px;
    height: 38px;
    background: url('../img/cancel.png') no-repeat center center;
    opacity: .5;
    position: absolute;
    top: 0;
    right: -38px;
    cursor: pointer;
    transition: All 0.4s ease-in-out;
}
.cancel:hover{
    transform: rotate(360deg);
}
.sctit{
    width: 950px;
    height: 75px;
    margin: 0 20px;
    border-bottom: 2px solid #e1e1e1;
}
.sctit>h2{
    border-color: #c80808!important;
    float: left;
    font-size: 22px;
    font-weight: normal;
    color: #eb6100;
    text-align: center;
    line-height: 25px;
    padding: 25px 22px;
    border-bottom: 2px solid #eb6100;
    position: relative;
    z-index: 5;
}
.sctit>p:nth-of-type(1){
    width: 287px;
    height: 25px;
    float: right;
    line-height: 25px;
    padding: 25px 22px 25px 0;
    font-size: 12px;
    color: #b5b5b5;
}
.sctit>p>span#cart-cbg{
    color: #eb6100;
}
.sctit>p:nth-of-type(1)>span>em{
    display: inline-block;
    width: 35px;
    height: 4px;
    border-top: 1px solid #e1e1e1;
    margin: 0 4px;
}
.cart-content{
    width: 954px;
    height: 194px;
    padding: 0 18px;
    position: relative;
    margin: 0 auto;
    color: #636363;
}
.top-cart{
    width: 954px;
    height: 56px;
    line-height: 56px;
    background-color: #f7f7f7;
}
.in{
    background: #f7f7f7;
    height: 55px;
    line-height: 55px;
    font-size: 13px;
    border-bottom: 1px solid #e1e1e1;
    font-weight: normal;
    color: #535353;
    width: 55px;
    text-align: center;
    float: left;
}
.top-cart>span{
    float: left;
}
.top-cart>p:nth-of-type(1){
    font-size: 14px;
    float: left;
    margin-left: 50px;
}
.top-cart>p:nth-of-type(2){
    font-size: 14px;
    float: left;
    margin-left: 220px;
}.top-cart>p:nth-of-type(3){
     font-size: 14px;
     float: left;
     margin-left: 120px;
 }.top-cart>p:nth-of-type(4){
      font-size: 14px;
      float: left;
      margin-left: 120px;
  }.top-cart>p:nth-of-type(5){
       font-size: 14px;
       float: left;
       margin-left: 120px;
   }
.settlementbox{
    width: 954px;
    height: 50px;
    margin-top: 38px;
    overflow: hidden;
    padding-bottom: 20px;
    float: left;
}
.operate{
    width: 193px;
    height: 50px;
    margin-left: 18px;
    float: left;
    font-size: 14px;
    line-height: 50px;
}
.operate>span{
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
}
.operate>p{
    float: right;
    cursor: pointer;
}
.total{
    width: 303px;
    height: 50px;
    float: right;
    font-size: 16px;
    line-height: 50px;
    color: #727272;
    overflow: hidden;
    margin-top: -70px;
}
.total>a{
    color: #999999;
    font-size: 13px;
}
.total>span:nth-of-type(1){
    color: #7a7a7a;
    font-size: 16px;
    margin-left: 10px;
}
.total>span:nth-of-type(2){
    color: #eb6100;
}
.total>a:nth-of-type(2) {
    margin-left: 15px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 120px;
    background: #eb6100;
    font-size: 17px;
    border: none;
    color: #FFF;
    cursor: pointer;
}